@import "tailwindcss";

@font-face {
  font-family: 'Hylia Serif';
  src: url('/HyliaSerifBeta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-blue: #0b1120;
  --light-blue: #22d3ee;
}

body {
  background: var(--dark-blue);
  color: #ededed;
  font-family: 'Hylia Serif', serif !important;
  overflow: hidden;
}

@layer utilities {
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .draw-path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: dash 1.5s ease-out forwards;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}